
.header-container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0,21,41,.08);
}
.header-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding: 10px 0;
}
.header-nav-item{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    position: relative;
    cursor: pointer;
    margin: 0 5px;
    font-weight: 400;
    color: #0e172c;
    overflow: hidden;
}

.header-nav-item:hover{
    color: red;
}
.nav-before-line::before{
    content: '';
    background: #0e172c;
    width: 0;
    height: 2px;    
    position: absolute;
    top: 99%;
    left: 0;
    transition: all ease-in .2s;
}

.header-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icon{
    margin: 0px 5px;
    font-size: 26px;
    cursor: pointer;
    color: #0e172c;
}

.nav-before-circle::after{
    content: '';
    background: rgba(240, 240, 240, 0.4);
    width: 0;
    height: 0;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.15s;
}

.nav-before-circle:active::after{
    width: 150%;
    height: 150%;
}

.nav-before-line:hover::before{
    width: 100%;
}

